<div id="scrollbar"></div>
<div id="header">
	<div class="title">
		<h1>unite all originals</h1>
	</div>
</div>

<div id="external">
	<a href="#" class="adidas" target="_blank" onclick="return false">adidas</a>
	<a href="http://shop.adidas.co.kr/PF070102.action?mainId=874&subId=1754&_OC_=TT_DA&source=http://squid.nsmartad.com/&xdr=" class="shop" target="_blank">shop</a>
</div>


<div id="lnb">
	<ul class="nav">
		<li><a href="#loading" data-target="#loading" data-target-offset="start">top</a></li>
		<li><a href="#section_global" data-target="#section_global">global</a></li>
		<li><a href="#section2" data-target="#section2">더블K, 서효인</a></li>
		<li><a href="#section3" data-target="#section3">phantom</a></li>
	</ul>
</div>
