<div id="scrollbar"></div>
<div id="header">
	<div class="title">
		<h1>unite all originals</h1>
	</div>
</div>

<div id="external">
	<a href="#" class="twitter" target="_blank">twitter</a>
	<a href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fadidas.com" class="facebook" target="_blank">facebook</a>

	<div class="adidas">adidas</div>
	<a href="http://shop.adidas.co.kr/PF070102.action?mainId=874&subId=1754" class="shop" target="_blank">shop</a>
</div>


<div id="lnb">
	<ul class="nav">
		<li><a href="http://alladidas.com/unite" data-target="#intro .copy1" data-target-landing-position="start" data-target-offset="10">top</a></li>
		<li><a href="http://alladidas.com/collider" data-target="#section_global">global</a></li>
		<li><a href="http://alladidas.com/unite?section=2" data-target="#section2">더블K, 서효인</a></li>
		<li><a href="http://alladidas.com/phantom" data-target="#section3">phantom</a></li>
	</ul>
</div>
