<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
  <meta name="google" value="notranslate" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <title>Adidas</title>
  <%= stylesheet_link_tag    "mobile" %>
  <%= javascript_include_tag "application" %>

	<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $("#container").height($(window).height());
      
      $(window).bind('resize', function() {
        $("#container").height($(window).height());
      });
    });
  </script>

</head>
<body>

<div id="container">
	<div id="h">
		<a class="logo">Adidas</a>
		<a class="shop" href="http://m.adidas.co.kr/MO/Product/planShopPrdList.action?mainId=874&subId=1754">Adidas Shop</a>
		<div class="title">
			<p class="text">unite all originals</p>
		</div>
	</div>
	<div id="c">
		<div class="text">서로 다른 생각 서로 다른 문화 서로 다른 스타일. 이들이 만나면, 어떤 일이 생길까?</div>
		<div class="loading_bg">
			<div class="comming_soon">comming soon</div>
		</div>
	</div>
</div>

<!--NSmart Track Tag Script-->
<script type='text/javascript'>
var nasJsHost = (('https:' == document.location.protocol) ? 'https://' : 'http://');
var NSmart_CAMP = '6646';
var NSmart_Page = '15962';
var NSmart_TURL = nasJsHost + 'n46.nsmartad.com';
document.write(unescape("%3Cscript src='" + nasJsHost + "n00.nsmartad.com/etc?id=9' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript" charset="utf-8">
	
</script>
</body>
</html>

