<div id="h">
	<a class="logo">Adidas</a>
	<a class="shop" href="http://m.adidas.co.kr/MO/Product/planShopPrdList.action?mainId=874&subId=1754">Adidas Shop</a>
	<div class="title">
		<p class="text">unite all originals</p>
	</div>
</div>
<div id="content">
	<div id="scrollbar"></div>
	
	<%= render partial: 'main/mobile/loading' %>
	
	<%= render partial: 'main/mobile/intro' %>
	
	<%= render partial: 'main/mobile/s1' %>
	
	<% render partial: 'main/mobile/sg' %>


</div>	