@import "mixin";

$sprite:sprite-map('mobile/s/*.png');

@mixin product_popup($img) {
	.popups {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0px;
		z-index: 1200;
		background-color: rgba(0,0,0,0.75);
		.photo {
			width: image-width($img);
			height: image-height($img);
			@include ab_center("top", $img);
			@include ab_center("left", $img);
			
			position: absolute;

			.shop {
				@include hide_text;
				@include sprite_replace_text($sprite, "btn_shop");
				@include ab_center("left", sprite-file($sprite, "btn_shop"));
				width: image-width(sprite-file($sprite, "btn_shop"));
				height: image-height(sprite-file($sprite, "btn_shop"));
				bottom: 106px;
			}
		}
		@include close_button;
	}
}

@mixin close_button {
	.close {
		background: sprite($sprite, btn_close) no-repeat;
		position: absolute;
		width: image-width(sprite-file($sprite, btn_close));
		left: 0;
		height: image-height(sprite-file($sprite, btn_close));
		top: 0;
	}
}

html {
	overflow: hidden;
	width: 100%;
	height: 100%;
}
body {
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color:#000;
}

#horizontal {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	z-index: 2000;
	background-color: rgba(0,0,0,0.75);
	img {
		@include ab_center("left", "mobile/horizontal.png");
		@include ab_center("top", "mobile/horizontal.png");
	}
	
	display: none;
	@media only screen and (orientation: landscape) {
		display: block;
	}
}


#container {
	width: 100%;
	height: 100%;

	#header {
		z-index: 10;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: image-height(sprite_file($sprite, "titlebg"));

		.title {
			margin: 0 auto;
			text-align: center;
			@include sprite_replace_text($sprite, "titlebg");

			h1 {
				text-indent: -10000000em;
				@include sprite_replace_text($sprite, "title");
				@include ab_center("left", sprite_file($sprite, "title"));
				top: 50px;
				@include transition-property(opacity, top);
				@include transition-duration(0.2s);
				&.hide_when_smallsize {
					@media all and (max-height: 950px) { 
						@include opacity(0);
						top: -50px;
					}
				}
			}
		}
	}

	.header_top {
		display: block;
		@include ab_center("left", sprite_file($sprite, "btn_top"));
		@include sprite_replace_text($sprite, "btn_top");
		top: 0;
		z-index: 100000;
	}

	#external {
		z-index: 1100;
		position: absolute;
		left: 0;
		top: 57px;
		width: 100%;
		
		a {
			position: absolute;
			background-color:#000;

			&.adidas {
				left: 0;
				@include sprite_replace_text($sprite, "gnb_logo");
			}
			&.shop {
				right: 0;
				@include sprite_replace_text($sprite, "gnb_shop");
			}
		}
		
		.adidas {
			position: absolute;
			background-color:#000;
			left: 0;
			@include sprite_replace_text($sprite, "gnb_logo");
		}
		
	}


	#lnb {
		position: fixed;
		bottom: 0px;
		z-index: 1100;
		width: 100%;

		ul {
			width: 572px;
			margin: 0 auto;
			li {
				float: left;
				margin: 4px;
				a {
					width: 135px !important;
					height: 135px !important;
					&[data-target="#intro .copy1"] { @include sprite_replace_text_anchor($sprite, "menu01"); }
					&[data-target="#section_global"] { @include sprite_replace_text_anchor($sprite, "menu02"); }
					&[data-target="#section2"] { @include sprite_replace_text_anchor($sprite, "menu03"); }
					&[data-target="#section9 .scene2"] { @include sprite_replace_text_anchor($sprite, "menu04"); }
				}
			}
		}
	}

	#content {
		@include animation_viewport;
		@include user-select(none);
		width: 100%;
		height: 100%;


		#loading {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1500;

			.bg {
				width: 100%;
				height: 100%;
				opacity: 0.8;
				@include opacity(0.8);
				background-color: #000;
			}

			#indicator {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 10;
				@include ab_center("left", "loading/bg.png");
				@include ab_center("top", "loading/bg.png");
				background: image-url("loading/bg.png") no-repeat;
				width: image-width("loading/bg.png");
				height: image-height("loading/bg.png");
				
				.progress_wrapper {
					width: 100%;
					height: 100%;
					position: absolute;

					#progress {
						position: absolute;
						left: 92px;
						top: 200px;
						width: 170px;
						height: 14px;
						background-color:#000;
						@include border-radius(10px);

						div {
							@include border-radius(10px);
							background-color:#38e1ff;
							min-width: 20px;
							width: 0;
							height: 100%;
						}
					}
				}
			}
			
			#scroll_guide {
				display: none;
				background: image-url("mobile/loading/scroll01.png") no-repeat;
				width: image-width("mobile/loading/scroll01.png");
				height: image-height("mobile/loading/scroll01.png");

				&[data-scene="1"] { background: image-url("mobile/loading/scroll01.png"); }
				&[data-scene="2"] { background: image-url("mobile/loading/scroll02.png"); }
				&[data-scene="3"] { background: image-url("mobile/loading/scroll03.png"); }
				&[data-scene="4"] { background: image-url("mobile/loading/scroll04.png"); }
				&[data-scene="5"] { background: image-url("mobile/loading/scroll05.png"); }
				&[data-scene="6"] { background: image-url("mobile/loading/scroll04.png"); }
				&[data-scene="7"] { background: image-url("mobile/loading/scroll03.png"); }
				&[data-scene="8"] { background: image-url("mobile/loading/scroll02.png"); }
				&[data-scene="9"] { background: image-url("mobile/loading/scroll01.png"); }
			}
		}


		#intro {
			width: 483px;
			height: 235px;
			position: absolute;
			z-index: 10;
			top: 50%;
			left: 50%;
			margin-top: -1 * 235 / 2 + px;
			margin-left: -1 * 483 / 2 + px;

			div {
				display: none;
			}
			.copy1 { 
				@include ab_center("top", "mobile/loading/text01.png");
				@include ab_center("left", "mobile/loading/text01.png");
				display: block;
			}
			.copy2 {
				@include ab_center("top", "mobile/loading/text02.png");
				@include ab_center("left", "mobile/loading/text02.png");
			}
			.copy3 {
				@include ab_center("top", "mobile/loading/text03.png");
				@include ab_center("left", "mobile/loading/text03.png");
			}
		}



		#section1 {
			@include animation_particle;
			@include cover_bg("mobile/section1/bg.jpg");
			height: 100%;
			width: 100%;

			.wrapper {
				display: none;
				z-index: 800;
				@include animation_canvas;
				@include ab_center("left", sprite-file($sprite, "movie_bg"));
				top: 50%;
				margin-top: -1 * (image-height(sprite-file($sprite, "movie_bg")) + image-height("mobile/section1/btn_tw.png") + 12) / 2;


				.movie {
					@include sprite_replace_text($sprite, "movie_bg");
					text-indent: 0;
					text-align: center;
					padding-top: 15px;
					height: 354px;
				}

				.sns {
					margin-top: 12px;
					text-align: center;
					position: absolute;
					width: 149 + 149 + 247 + 24 + px;
					height: 248px;
					
					a {
						position: absolute;
						display: block;
						
						&.twitter {
							width: image-width("mobile/section1/btn_tw.png");
							height: image-height("mobile/section1/btn_tw.png");
							top: 50px;
							left: 0;
						}
						&.snoop {
							width: image-width("mobile/section1/snoop.png");
							height: image-height("mobile/section1/snoop.png");
							top: 0;
							@include ab_center("left", "mobile/section1/snoop.png");
						}
						&.facebook {
							width: image-width("mobile/section1/btn_fb.png");
							height: image-height("mobile/section1/btn_fb.png");
							top: 50px;
							right: 0;
						}
					}
				}
			}
		}

		#section_global {
			display: none;
			@include animation_particle;
			@include cover_bg("mobile/section10/bg.jpg");
			width: 100%;
			height: 100%;

			.intro {
				height: image_height("mobile/section10/intro1.png");
				.intro1 {
					@include ab_center("left", "mobile/section10/intro1.png");
					@include ab_center("top", "mobile/section10/intro1.png");
					height: image_height("mobile/section10/intro1.png");
					z-index: 10;
				}
				.intro2 {
					@include ab_center("left", "mobile/section10/intro2.png");
					@include ab_center("top", "mobile/section10/intro2.png");
					height: image_height("mobile/section10/intro2.png");
					z-index: 10;
				}
			}
			

			.scene1 {
				display: block;
				z-index: 10;
				@include ab_center("top", "mobile/section10/scene/0.png");
				@include ab_center("left", "mobile/section10/scene/0.png");
			}
		}


		#section2 {
			display: none;
			@include animation_particle;
			@include cover_bg("mobile/section2/bg.jpg");
			width: 100%;
			height: 100%;

			.intro {
				height: image_height("mobile/section2/intro.png");
				@include ab_center("top", "mobile/section2/intro.png");
				@include ab_center("left", "mobile/section2/intro.png");
			}

			.popups {
				width: 100%;
				height: 100%;
				position: fixed;
				top: 0px;
				z-index: 1200;
				background-color: rgba(0,0,0,0.75);
				img {
					position: absolute;
					left: 50%;
					top: 50%;
					&.top, &.bottom {
						@include ab_center("left", "mobile/section2/top_popup.png");
						@include ab_center("top", "mobile/section2/top_popup.png");
					}
					&.left {
						margin-left: -188px;
						margin-top: -109px;
					}
					&.right {
						margin-left: -188px;
						margin-top: -177px;
					}
				}
				@include close_button;
			}

			.wrapper {
				position: absolute;
				z-index: 1000;
				left: 50%;
				width: 618px;
				margin-left: -1 * 618 / 2 + px;
				top: 50%;
				height: 748px;
				margin-top: -1 * 741 / 2 - 40 + px;
				text-align: center;

				.scene1 {
					.top {
						position: absolute;
						top: 0;
						z-index: 1;
						@include ab_center("left", "mobile/section2/top.png");
					}
					.bottom {
						position: absolute;
						bottom: 0;
						z-index: 1;
						@include ab_center("left", "mobile/section2/bottom.png");
					}
					.left {
						left: 0;
						@include ab_center("top", "mobile/section2/left.png");
						z-index: 200;
					}
					.right {
						right: 0;
						@include ab_center("top", "mobile/section2/right.png");
						z-index: 200;
					}
				}
				
				.scene2 {
					overflow: hidden;
					position: absolute;
					height: 845px;
					top: 50%;
					margin-top: -142px;
					width: 618px;
					left: 50%;
					margin-left: -1 * 618 / 2 + px;

					div[data-partial="masking"] {
						z-index: 100;
						@include ab_center("left", "mobile/section2/scene/1.png");
					}
					.movie {
						position: absolute;
						z-index: 100;
						left: 50%;
						margin-left: -221px;
					}
					.text2 {
						position: absolute;
						z-index: 10;
						top: 58px;
						margin-top: -174px;
						left: 50%;
						margin-left: -268px;
					}
				}
			}
		}


		#section3 {
			display: none;
			@include animation_particle;
			@include cover_bg("mobile/section3/bg.jpg");
			width: 100%;
			height: 100%;

			@include product_popup("mobile/section3/popup.png");

			.wrapper {
				@include ab_center("top", "mobile/section3/product.png");
				@include ab_center("left", "mobile/section3/product.png");
				width: image-width("mobile/section3/product.png");
				height: 637px;
				top: 50%;
				margin-top: -318px;
				z-index: 20;
			}
		}

		#section4 {
			display: none;
			@include animation_particle;
			@include cover_bg("mobile/section4/bg.jpg");
			width: 100%;
			height: 100%;

			.intro {
				height: image_height("mobile/section4/intro.png");
				@include ab_center("top", "mobile/section4/intro.png");
				@include ab_center("left", "mobile/section4/intro.png");
			}

			.popups {
				width: 100%;
				height: 100%;
				position: fixed;
				top: 0px;
				z-index: 1200;
				background-color: rgba(0,0,0,0.75);
				img {
					position: absolute;
					left: 50%;
					top: 50%;
					&.top, &.bottom {
						@include ab_center("left", "mobile/section4/top_popup.png");
						@include ab_center("top", "mobile/section4/top_popup.png");
					}
					&.left {
						margin-left: -258px;
						margin-top: -177px;
					}
					&.right {
						margin-left: -277px;
						margin-top: -200px;
					}
				}
				@include close_button;
			}

			.wrapper {
				position: absolute;
				z-index: 1000;
				left: 50%;
				width: 616px;
				margin-left: -1 * 616 / 2 + px;
				top: 50%;
				height: 614px;
				margin-top: -1 * 614 / 2 + px;
				text-align: center;
				
				.top {
					position: absolute;
					top: 0;
					@include ab_center("left", "mobile/section4/top.png");
				}
				.bottom {
					position: absolute;
					bottom: 0;
					@include ab_center("left", "mobile/section4/bottom.png");
					margin-left: -153px;
				}
				.left {
					left: 0;
					@include ab_center("top", "mobile/section4/left.png");
				}
				.right {
					right: 0;
					@include ab_center("top", "mobile/section4/right.png");
				}
				
				.scene2 {
					display: none;
					position: absolute;
					width: 455px;
					left: 50%;
					margin-left: -1 * 455 / 2 + px;
					height: 411px;
					top: 50%;
					margin-top: -1 * 411 / 2 + px;

					div[data-partial="masking"] {
						z-index: 100;
						@include ab_center("top", "mobile/section4/scene/1.png");
						left: 0;
						width: 455px;
						height: 272px;
					}
					
					.movie {
						position: absolute;
						top: 70px;
						z-index: 100;
						height: 275px;

					}
					
					
					.texts {
						width: 100%;
						height: 660px;
						display: none;
						
						.left2 {
							position: absolute;
							z-index: 10;
							top: 0;
							left: 0px;
							height: 64px;
						}
						.right2 {
							position: absolute;
							z-index: 10;
							bottom: 0;
							right: 0px;
							height: 64px;
						}
					}
				}
			}
		}

		#section5 {
			display: none;
			@include animation_particle;
			@include cover_bg("mobile/section5/bg.jpg");
			width: 100%;
			height: 100%;
			
			@include product_popup("mobile/section5/popup.png");

			.wrapper {
				@include ab_center("top", "mobile/section5/product.png");
				@include ab_center("left", "mobile/section5/product.png");
				width: image-width("mobile/section5/product.png");
				height: 637px;
				top: 50%;
				margin-top: -352px;
				z-index: 10;
			}
		}

		#section6 {
			display: none;
			@include animation_particle;
			@include cover_bg("mobile/section6/bg.jpg");
			width: 100%;
			height: 100%;

			.intro {
				height: image_height("mobile/section6/intro.png");
				@include ab_center("top", "mobile/section6/intro.png");
				@include ab_center("left", "mobile/section6/intro.png");
			}

			.popups {
				width: 100%;
				height: 100%;
				position: fixed;
				top: 0px;
				z-index: 1200;
				background-color: rgba(0,0,0,0.75);
				img {
					position: absolute;
					left: 50%;
					top: 50%;
					&.top, &.bottom {
						@include ab_center("left", "mobile/section6/top_popup.png");
						@include ab_center("top", "mobile/section6/top_popup.png");
					}
					&.left {
						margin-left: -183px;
						margin-top: -177px;
					}
					&.right {
						margin-left: -239px;
						margin-top: -177px;
					}
				}
				@include close_button;
			}

			.wrapper {
				position: absolute;
				z-index: 1000;
				left: 50%;
				width: 610px;
				margin-left: -1 * 610 / 2 + px;
				top: 50%;
				height: 748px;
				margin-top: -1 * 741 / 2 - 40 + px;
				text-align: center;
				
				.top {
					position: absolute;
					top: 0;
					@include ab_center("left", "mobile/section6/top.png");
				}
				.bottom {
					position: absolute;
					bottom: 0;
					@include ab_center("left", "mobile/section6/bottom.png");
				}
				.left {
					left: 0;
					@include ab_center("top", "mobile/section6/left.png");
					z-index: 200;
				}
				.right {
					right: 0;
					@include ab_center("top", "mobile/section6/right.png");
					z-index: 200;
				}
				
				.scene2 {
					display: none;
					overflow: hidden;
					position: absolute;
					height: 845px;
					top: 50%;
					margin-top: -142px;
					width: 610px;
					left: 50%;
					margin-left: -1 * 610 / 2 + px;

					div[data-partial="masking"] {
						z-index: 100;
						@include ab_center("left", "mobile/section2/scene/1.png");
					}
					.movie {
						position: absolute;
						z-index: 100;
						left: 50%;
						margin-left: -221px;
					}
					.text2 {
						position: absolute;
						z-index: 10;
						top: 58px;
						margin-top: -174px;
						left: 38px;
					}
				}
			}
		}

		#section7 {
			display: none;
			@include animation_particle;
			@include cover_bg("mobile/section7/bg.jpg");
			width: 100%;
			height: 100%;
			
			@include product_popup("mobile/section7/popup.png");

			.wrapper {
				@include ab_center("top", "mobile/section7/product.png");
				@include ab_center("left", "mobile/section7/product.png");
				width: image-width("mobile/section7/product.png");
				height: 637px;
				top: 50%;
				margin-top: -352px;
				z-index: 10;
			}
		}

		#section8 {
			display: none;
			@include animation_particle;
			@include cover_bg("mobile/section8/bg.jpg");
			width: 100%;
			height: 100%;

			.intro {
				height: image_height("mobile/section8/intro.png");
				@include ab_center("top", "mobile/section8/intro.png");
				@include ab_center("left", "mobile/section8/intro.png");
			}

			.popups {
				width: 100%;
				height: 100%;
				position: fixed;
				top: 0px;
				z-index: 1200;
				background-color: rgba(0,0,0,0.75);
				img {
					position: absolute;
					left: 50%;
					top: 50%;
					&.top, &.bottom {
						@include ab_center("left", "mobile/section8/top_popup.png");
						@include ab_center("top", "mobile/section8/top_popup.png");
					}
					&.left {
						margin-left: -238px;
						margin-top: -132px;
					}
					&.right {
						margin-left: -260px;
						margin-top: -177px;
					}
				}
				@include close_button;
			}

			.wrapper {
				position: absolute;
				z-index: 1000;
				left: 50%;
				width: 610px;
				margin-left: -1 * 610 / 2 + px;
				top: 50%;
				height: 612px;
				margin-top: -1 * 612 / 2 + px;
				text-align: center;
				
				.top {
					position: absolute;
					top: 0;
					@include ab_center("left", "mobile/section8/top.png");
				}
				.bottom {
					position: absolute;
					bottom: 0;
					@include ab_center("left", "mobile/section8/bottom.png");
					margin-bottom: -153px;
				}
				.left {
					left: 0;
					@include ab_center("top", "mobile/section8/left.png");
				}
				.right {
					right: 0;
					@include ab_center("top", "mobile/section8/right.png");
				}
				
				.scene2 {
					display: none;
					position: absolute;
					height: 411px;
					top: 50%;
					margin-top: -205px;
					width: 455px;
					left: 50%;
					margin-left: -1 * 455 / 2 + px;

					div[data-partial="masking"] {
						z-index: 100;
						@include ab_center("top", "mobile/section4/scene/1.png");
						left: 0;
						width: 455px;
						height: 272px;
					}
					
					.movie {
						position: absolute;
						top: 70px;
						z-index: 100;
						height: 275px;
					}
					
					
					.texts {
						width: 100%;
						height: 660px;
						
						.left2 {
							position: absolute;
							z-index: 10;
							top: 0;
							left: 0px;
							height: 64px;
						}
						.right2 {
							position: absolute;
							z-index: 10;
							bottom: 0;
							right: 0px;
							height: 64px;
						}
					}
				}
			}
		}
		
		#section9 {
			display: none;
			@include animation_particle;
			@include cover_bg("mobile/section9/bg.jpg");
			width: 100%;
			height: 100%;

			@include product_popup("mobile/section9/popup.png");
			
			.wrapper {
				@include ab_center("left", "mobile/section9/product.png");
				width: image-width("mobile/section9/product.png");
				height: 637px;
				top: 50%;
				margin-top: -352px;
				z-index: 10;
			}
			
			.scene2 {
				position: absolute;
				z-index: 1000;
				width: image-width("mobile/section9/product2.png");
				height: image-height("mobile/section9/product2.png");
				@include ab_center("left", "mobile/section9/product2.png");
				@include ab_center("top", "mobile/section9/product2.png");
			}
		}
		
		#section11 {
			display: none;
			@include animation_particle;
			@include cover_bg("mobile/section11/bg.jpg");
			width: 100%;
			height: 100%;
			
			.wrapper {
				@include ab_center("top", "mobile/section11/product.png");
				@include ab_center("left", "mobile/section11/product.png");
				width: image-width("mobile/section11/product.png");
				margin-top: -347px;
				z-index: 10;
			}
		}
	}
}



#collaboration_popup {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 10000;
	display: none;
	
	.bg {
		width: 100%;
		height: 100%;
		background-color:#000;
		@include opacity(0.8);
		position: absolute;
	}
	
	.wrapper {
		width: 100%;
		height: 100%;
		position: absolute;
		
		@include close_button;
		.close { text-indent: -10000em; }
		
		.prev {
			display: block;
			left: 0;
			@include sprite_replace_text($sprite, "colla_btn_prev");
			@include ab_center("top", sprite_file($sprite, "colla_btn_prev"));
		}
		.next {
			display: block;
			right: 0;
			@include sprite_replace_text($sprite, "colla_btn_next");
			@include ab_center("top", sprite_file($sprite, "colla_btn_next"));
		}
		
		.content {
			width: image-width("mobile/section2/colla_2.png");
			height: image-height("mobile/section2/colla_2.png");
			@include ab_center("left", "mobile/section2/colla_2.png");
			@include ab_center("top", "mobile/section2/colla_2.png");
			
			.partial {
				width: image-width("mobile/section2/colla_2.png");
				height: image-height("mobile/section2/colla_2.png");
			}
			
			img, iframe {
				position: absolute;
			}
			iframe {
				top: 66px;
				left: 80px;
			}
		}
		.pagination {
			position: absolute;
			left: 50%;
			margin-left: -44px;
			bottom: 20px;
			a {
				display: block;
				@include sprite_replace_text_anchor($sprite, "colla_pagination");
				float: left;
				padding: 0 3px;
			}
		}
	}

}
