<div id="intro">
	<div class="copy1"><%= image_tag "mobile/loading/text01.png" %></div>
	<div class="copy2"><%= image_tag "mobile/loading/text02.png" %></div>
	<div class="copy3"><%= image_tag "mobile/loading/text03.png" %></div>
</div>
