<div id="loading">
	<div class="bg"></div>
	
	<div id="indicator" class="indicator">
		<div class="progress_wrapper">
			<%= image_tag "mobile/loading/loading.png", class: "text" %>
			<div id="progress">
				<div></div>
			</div>
		</div>
		
		<div id="scroll_guide" class="scroll_guide"></div>
	</div>
	
</div>
