<div id="section1">
	<div class="wrapper">
		<div class="movie">
			<iframe width="534" height="329" src="http://www.youtube.com/embed/Yk0gjUGt5_k" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="sns">
			<a href="#" class="twitter" target="_blank"><%= image_tag "mobile/section1/btn_tw.png", alt: "follow originals" %></a>
			<a href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fadidas.com" class="facebook" target="_blank"><%= image_tag "mobile/section1/btn_fb.png", alt: "originals facebook" %></a>
		</div>
	</div>
</div>
