<div id="section12" class="product">
	<%= image_tag("mobile/section12/bg.jpg", class: "fucking_ie_bg", alt: "") if fucking_ie? %>
	
	<div class="wrapper">
		<%= image_tag "mobile/section12/product.png", class: "product", usemap: "#section12_map" %>
		<map name="section12_map" id="section12_map">
			<area shape="rect" coords="84,166,158,240" href="http://www.lesmoremall.com/Asp/Product/ProductDetail.asp?ProductCode=110144&Page=1&PageSize=20&ListType=B&OrderType=1&SBrandCode=&SSPrice=0&SEPrice=20&SColorCode=&SOptions=&SCategoryCode1=&SCategoryCode2=&KeyWord=" target="_blank">
			<area shape="rect" coords="328,166,402,240" href="http://www.lesmoremall.com/Asp/Product/ProductDetail.asp?ProductCode=110145&Page=1&PageSize=20&ListType=B&OrderType=1&SBrandCode=&SSPrice=0&SEPrice=20&SColorCode=&SOptions=&SCategoryCode1=&SCategoryCode2=&KeyWord=ZX" target="_blank">
			<area shape="rect" coords="84,526,158,600" href="http://www.lesmoremall.com/Asp/Product/ProductDetail.asp?ProductCode=110142&Page=1&PageSize=20&ListType=B&OrderType=1&SBrandCode=&SSPrice=0&SEPrice=20&SColorCode=&SOptions=&SCategoryCode1=&SCategoryCode2=&KeyWord=ZX" target="_blank">
			<area shape="rect" coords="328,526,402,600" href="http://www.lesmoremall.com/Asp/Product/ProductDetail.asp?ProductCode=110143&Page=1&PageSize=20&ListType=B&OrderType=1&SBrandCode=&SSPrice=0&SEPrice=20&SColorCode=&SOptions=&SCategoryCode1=&SCategoryCode2=&KeyWord=ZX" target="_blank">
		</map>
	</div>
</div>