<div id="section3" class="product">
	<%= image_tag("mobile/section3/bg.jpg", class: "fucking_ie_bg", alt: "") if fucking_ie? %>

	<div class="s3p popups" style="display:none">
		<%= image_tag "mobile/section3/popup.png", class: "photo" %>
		<%= image_tag "mobile/section3/btn_shop.png", class: "shop" %>
		<div class="close"></div>
	</div>

	<div class="wrapper">
		<%= image_tag "mobile/section3/product.png", class: "product" %>
	</div>
</div>