<div id="section5" class="product">
	<%= image_tag("mobile/section5/bg.jpg", class: "fucking_ie_bg", alt: "") if fucking_ie? %>
	
	<div class="wrapper">
		<%= image_tag "mobile/section5/product.png", class: "product" %>
		
		<div class="popup" data-partial="popup">
			<%= image_tag "mobile/section5/scene/0.png", usemap: "#section5_popup" %>
			<map name="section5_popup" id="section5_popup">
				<area data-type="shop" shape="rect" coords="0,0,0,0" href="http://www.shop.adidas.co.kr/PF020401.action?PROD_CD=Q23425" target="_blank">
			</map>
		</div>
	</div>
</div>
