<div id="section5" class="product">
	<%= image_tag("mobile/section5/bg.jpg", class: "fucking_ie_bg", alt: "") if fucking_ie? %>

	<div class="s5p popups" style="display:none">
		<div class="photo">
			<%= image_tag "mobile/section5/popup.png", class: "photo" %>
			<a href="http://m.adidas.co.kr/MO/Product/prdDispBas.action?prodCD=Q23425&spst_id=1754" target="_blank" class="shop">shop</a>
		</div>
		<div class="close"></div>
	</div>
	
	<div class="wrapper">
		<%= image_tag "mobile/section5/product.png", class: "product" %>
	</div>
</div>