<div id="section9" class="product">
	<%= image_tag("mobile/section9/bg.jpg", class: "fucking_ie_bg", alt: "") if fucking_ie? %>

	<div class="wrapper">
		<%= image_tag "mobile/section9/product.png", class: "product" %>
		
		<div class="popup" data-partial="popup">
			<%= image_tag "mobile/section9/scene/0.png", usemap: "#section9_popup" %>
			<map name="section9_popup" id="section9_popup">
				<area data-type="shop" shape="rect" coords="0,0,0,0" href="#" onclick="alert('입고 예정입니다.'); return false" target="_blank">
			</map>
		</div>
	</div>
</div>
