<div id="section9" class="product">
	<%= image_tag("mobile/section9/bg.jpg", class: "fucking_ie_bg", alt: "") if fucking_ie? %>

	<div class="s9p popups" style="display:none">
		<div class="photo">
			<%= image_tag "mobile/section9/popup.png", class: "photo" %>
			<a href="#" onclick="alert('입고 예정입니다.'); return false" target="_blank" class="shop">shop</a>
		</div>

		<div class="close"></div>
	</div>

	<div class="wrapper">
		<%= image_tag "mobile/section9/product.png", class: "product" %>
	</div>
</div>
