<div id="section_global" class="artist">
	<%= image_tag("mobile/section10/bg.jpg", class: "fucking_ie_bg", alt: "") if fucking_ie? %>
	
	<div class="wrapper">
		<div class="intro">
			<%= image_tag "mobile/section10/intro1.png", class: "intro1" %>
			<%= image_tag "mobile/section10/intro2.png", class: "intro2" %>
		</div>
		
		<div class="scene1">
			<%= image_tag "mobile/section10/scene/1.png", class: "scene", usemap: "#section_global_map" %>
			<map name="section_global_map" id="section_global_map">
				<area shape="rect" coords="0,0,0,0" href="http://unite.adidas.com/" target="_blank">
			</map>
		</div>
	</div>
</div>