<!DOCTYPE html>
<html lang="ko" xml:lang="ko">
<head>
  <title>Adidas</title>
	<meta charset="utf-8" />
  <%= stylesheet_link_tag    "adidas", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<meta property="og:image" content="http://" />
	<meta property="og:url" content="https://alladidas.com/unite" />
	<meta property="og:title" content="unite all originals_phantom" />
	<meta property="og:description" content="서로 다른 생각, 문화,스타일_ 이들이 만나면 어떤 일이 생길까요? 지금, 확인해 보세요.unite all originals#phantom" />
</head>

<body>

<div id="container">
	<%= yield %>
</div>

<!--NSmart Track Tag Script-->
<script type='text/javascript'>
var nasJsHost = (('https:' == document.location.protocol) ? 'https://' : 'http://');
var NSmart_CAMP = '6646';
var NSmart_Page = '15962';
var NSmart_TURL = nasJsHost + 'n46.nsmartad.com';
document.write(unescape("%3Cscript src='" + nasJsHost + "n00.nsmartad.com/etc?id=9' type='text/javascript'%3E%3C/script%3E"));
</script>
<!--NSmart Track Tag  Script End..-->

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39290664-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
